*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 0px 40px hsl(229, 8%, 63%);
  width: 620px;
}

.result {
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%) 5%,
    hsl(241, 81%, 54%) 95%
  );
  font-size: 18px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#seventysix {
  font-size: 55px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#of100 {
  color: rgb(197, 195, 195);
}

div.result h1 {
  color: rgb(197, 195, 195);
  font-size: 18px;
  margin: 30px auto;
}
div.result button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(241, 72%, 46%, 0);
  background-image: linear-gradient(
    0deg,
    hsla(241, 72%, 46%, 0),
    hsla(256, 72%, 46%, 1)
  );
  border-style: none;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-bottom: 20px;
  margin-top: 10px;
}

div.result p {
  color: rgb(197, 195, 195);
  text-align: center;
  margin: 15px 25px;
}

div.result h2 {
  color: white;
}

#yourscore {
  margin-bottom: 45px;
}

.summary {
  background-color: white;
  font-size: 18px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  width: 50%;
}

.summary h3 {
  margin-left: -120px;
  margin-bottom: 15px;
}

.reaction {
  color: hsl(0, 100%, 67%);
  background-color: hsl(0, 100%, 67%, 0.1);
  border-radius: 10px;
  border-style: none;
  padding: 15px;
  margin: 10px;
  width: 80%;
}

.memory {
  color: hsl(39, 100%, 56%);
  background-color: hsl(39, 100%, 56%, 0.1);
  border-radius: 10px;
  border-style: none;
  padding: 15px;
  margin: 10px;
  width: 80%;
}

.verbal {
  color: hsl(166, 100%, 37%);
  background-color: hsl(166, 100%, 37%, 0.1);
  border-radius: 10px;
  border-style: none;
  padding: 15px;
  margin: 10px;
  width: 80%;
}

.visual {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.1);
  border-radius: 10px;
  border-style: none;
  padding: 15px;
  margin: 10px;
  width: 80%;
}

.continue {
  width: 80%;
  padding: 15px;
  margin: 20px;
  font-size: 18px;
  border-radius: 20px;
  border-style: none;
  color: white;
  background-color: hsl(224, 30%, 27%);
}

.reaction,
.memory,
.verbal,
.visual {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.percentage {
  margin-left: 60px;
  color: black;
}

.hundred {
  color: gray;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 100px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: -20px;
  }

  div.result button {
    margin-top: -10px;
    text-align: center;
    padding: 0;
  }

  .result p {
    padding: 0 30px;
  }

  .summary h3 {
    margin-left: -150px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .summary {
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .result {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .continue {
    margin-bottom: 50px;
  }
}